@import "./_breakpoints.scss";

.toolbar {
  height: 100px;

  @include md-down {
    height: 75px;
  }
}

.footer {
  height: 220px;
  @include md-down {
    height: 400px;
  }
}

.main {
  min-height: 100vh;
  position: relative;
}
